<div class="well"><center>
  <h1>Let's change profile pictures to show our support</h1>
  <p>
    <%= image_tag 'default.jpg', alt: 'Create Facebook Profile Image', width: 300, class: 'img-responsive' %>
  </p>
  <p><%= link_to "Login with Facebook", auth_provider_url, class: 'btn btn-success btn-lg' %></p>
</center></div>
